[cvp_servers]
cvp_server_1    ansible_httpapi_host={{Add IP Address here}}
#cvp_server_2    ansible_httpapi_host={{Add IP Address here}}

[cvp_servers:vars]
ansible_connection = 'httpapi'
ansible_httpapi_use_ssl = True
ansible_httpapi_validate_certs = False
ansible_user = '{{Add CVP user name here}}'
ansible_password = '{{Add CVP user password here}}'
ansible_network_os = 'eos'
ansible_httpapi_port = 443
# Configuration to get Virtual Env information
ansible_python_interpreter = $(which python)

# CVP Topology

[estate:children]
DC_1
DC_2

[DC_1:children]
spines_1
leafs_1
gleafs_1

[DC_2:children]
spines_2
leafs_2
gleafs_2

[spines_1]
DC1-SPINE-001
DC1-PINE-002
DC1-SPINE-003
DC1-SPINE-004

[spines_2]
DC2-SPINE-001
DC2-SPINE-002
DC2-SPINE-003
DC2-SPINE-004

[leafs_1]
DC1-SLEAF-001
DC1-SLEAF-002
DC1-SLEAF-003
DC1-SLEAF-004
DC1-SLEAF-005
DC1-SLEAF-006

[leafs_2]
DC2-SLEAF-001
DC2-SLEAF-002
DC2-SLEAF-003
DC2-SLEAF-004
DC2-SLEAF-005
DC2-SLEAF-006

[gleafs_1]
DC1-GLEAF-001
DC1-GLEAF-002

[gleafs_2]
DC2-GLEAF-001
DC2-GLEAF-002

[endpoints:children]
servers
; clients
